.app {
  color: black;
  font-family: $sans-serif;
  height: 100%;

  &__warmup-container {
    height: 100%;
    position: relative;
  }

  &__warmup-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
