.app {
  color: black;
  font-family: $sans-serif;
  height: 100%;

  &__router {
    height: 100%;
  }

  &__home-container,
  &__macros-container,
  &__warmup-container {
    box-sizing: border-box;
    height: 100%;
    padding: 20px 16px;

    @media screen and (min-width: 550px) {
      padding: 20px 0 0 0;
    }
  }

  &__home-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
