@mixin updatePropertyOnHover($property, $baseValue, $hoverValue) {
  #{$property}: $baseValue;
  transition: 0.2s;

  &:hover {
    #{$property}: $hoverValue;
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin header {
  font-size: $header;
  font-weight: 500;
  height: 20%;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: lowercase;
}
