.result {
  border: 2px solid $primary;
  margin-top: 20px;

  &__tabs {
    border-bottom: 2px solid $primary;
    display: flex;
    list-style-type: none;
  }

  &__tab {
    cursor: pointer;
    display: inline-block;
    flex: 1;
    padding: 12px 0;
    text-align: center;
    transition: 0.2s;

    &:not(:first-child) {
      border-left: 2px solid $primary;
    }

    &:hover {
      background-color: $grey;
    }

    &--selected {
      background-color: $secondary;
      color: $secondary-text;
    }
  }

  &__content {
    padding: 20px 16px;
    text-align: center;
  }
}

