@import 'shared';

.home {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  grid-template-areas:
    "warmuplink macrolink"
    "barbelllink workoutslink";
  grid-gap: 10px;

  &__warmup-link,
  &__macro-link,
  &__barbell-link,
  &__workouts-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }

  &__warmup-link,
  &__macro-link,
  &__barbell-link,
  &__workouts-link {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s;

    &:visited {
      color: $primary;
    }

    &:hover {
      background-color: $secondary;
      color: $secondary-text;
    }
  }

  &__warmup-link {
    grid-area: warmuplink;
  }

  &__macro-link {
    grid-area: macrolink;
  }

  &__barbell-link {
    grid-area: barbelllink;
  }

  &__workouts-link {
    grid-area: workoutslink;
  }
}
