@import 'shared';

.workouts {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    @include header;

    height: 10%;
  }

  &__log {
    margin-top: 20px;
  }

  &__day-of-week {
    font-size: $extra-small;
  }

  &__exercise-type {
    text-transform: capitalize;
  }

  &__exercise-sets {
    margin-top: 10px;
  }

  @media screen and (min-width: 340px) {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}
